<div style="text-align: center">
  Sort By:
  <select [(ngModel)]="selectedOption">
    <option *ngFor="let option of options" [ngValue]="option">{{option}}</option>
  </select>
  Filter By:
  <select [(ngModel)]="selectedFilterOption">
    <option *ngFor="let option of filterOptions" [ngValue]="option">{{option}}</option>
  </select>
  <button (click)="apply()" >Filter</button>
</div>
<app-posts [posts]="arr"></app-posts>
<app-pagination [currentPage]="currentPage" [lastPage]="lastPage"></app-pagination>
